<% provide(:title, 'LiveWire') %>
<div data-role="page" id="livewire">
	<div data-role="header">
		<a href="#menu" data-rel="popup">Menu</a>
		<h4>LiveWire</h4>
		<%= link_to 'New', new_dream_path, rel: "external" %>
	</div>
	<%= render @dreams %>
	<div data-role="popup" id="menu" data-position-to="window">
		<div class="ui-grid-a center">
			<div class="ui-block-a menublock">
				<a href="/home/">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_home.png' class="iconsize">
					<div>Home</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a href="#" data-rel="back">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_livewire.png' class="iconsize" style="border: 1px dotted #FBA617; border-radius: 6px;">
					<div class="iconselected">LiveWire</div>
				</a>
			</div>
			<div class="ui-block-a menublock">
				<a href="/users/<%= current_user.id %>/edit/">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_settings.png' class="iconsize">
					<div>Settings</div>
				</a>
			</div>
			<div class="ui-block-b menublock">
				<a rel="nofollow" data-method="delete" href="/signout/">
					<img src='http://s3.amazonaws.com/DW-Assets/icon_signout.png' class="iconsize">
					<div>SignOut</div>
				</a>
			</div>


		</div>
	</div>
</div>