<h2>Record Dream</h2>

<%= render 'form' %>

<% if URI(request.referer).path.split('/').last == "dreams" %>
  <%= link_to "Back1", dreams_path %>
<% else %>
	<%= link_to "Back2", root_path %>
<% end %>