<% provide(:title, 'DreamView') %>
<div data-role="page" id="dreamview">
	<div data-role="header" class="headerbar">
		<a href="#" data-rel="back" data-direction="reverse" data-transition="slide" class="navbuttonborder">Back</a>
		<h4>DreamView</h4>
	</div>
	<img class="imagecrop" src="<%= @dream.imagesource %>">
	<div class="dreamview">
		<h2><%= @dream.title %>
			<% if @dream.privacy == true %>
				<img src='http://s3.amazonaws.com/DW-Assets/icon_lock.png' alt='Private' width="10px">  
			<% end %>
			<div class="float-right">
				<a href="/dreams/<%= @dream.id %>/detail/" data-transition="flip" >
					<img src='http://s3.amazonaws.com/DW-Assets/icon_details.png' alt='(i)' width="20px">
				</a>
			</div>
		</h2>
		<p><%= @dream.content %></p>
	</div>
</div>