<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <p class="color-orange">Enter your new password:</p>
  <div class="field">
    <%= f.password_field :password %>
  </div>
  <div class="actions"><%= f.submit "Update Password" %></div>
<% end %>