<h3 class="color-blue">Password Reset</h3>
<div class="color-orange">
	<p>Forgot your password?</p> 
	<p>No problemo.</p>
	<p>You can reset it via your email...</p>
</div>
<%= form_tag password_resets_path, :method => :post do %>
<div class="field">
  <%= text_field_tag :email, params[:email], :placeholder => "Your email address", style: "width: 260px; border: 1px solid #aaa; border-radius: 0.6em; padding-left: 4px;" %>
</div>
<%= submit_tag "Reset Password", class: "" %>
<% end %>
