<% provide(:title, 'Forgot Your Dreamwire Password?') %>
<div data-role="header" class="headerbar headsoup">
	<a href="#" data-rel="back" data-direction="reverse" data-transition="slide" class="soup padding-top">Back</a>
	<h4 style="width: 134px; color: #5C5E61;">Password Reset</h4>
</div>
<div class="color-orange margin-bottom">
	<br>
	<p>Forget your password?</p> 
	<small>No problem... You can reset it through your email.</small>
</div><br>
<% if flash[:error] %>
  <div class="alert"><%= flash[:error] %></div>
<% end %>
<%= form_tag password_resets_path, :method => :post do %>
	<div class="ui-grid-a" style="width: 320px; margin: 0px auto;">
	  <div class="ui-block-a">
	  	<%= text_field_tag :email, params[:email], :placeholder => "Your email address", style: "border: 1px dotted #FBA617; width: 214px; border-radius: 0; padding-left: 4px;" %>
		</div>
		<div class="ui-block-b" style="width: 70px; margin-left: 70px;">
			<%= submit_tag "Reset"%>
		</div>
	</div>
	<small class="margin-top">Reset your password any time to keep it secure.</small>
<% end %>