<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	body {
	   font-family: Open Sans;
	   font-size: 12px;
	}
	.button {
		background-color: #378EEF;
		padding: 4px;
		border-radius: 4px;
		color: #fff;
		width: 120px;
		text-align: center;
		cursor: pointer;
	}
</style>
<p>Hi <%= @user.name.split[0] %>,</p>
<p>
	Somehow through all the noise, you discovered dreamwire. Let's start tapping the unconscious...
</p>
<strong>Dreams are a new science.</strong>
<div>
	 About a third of life is spent asleep and dreaming. That's a big chunk, but it's not all <a href="https://medium.com/better-humans/dfb12da75a3d">wasted</a>. Dream exploration (including <a href="http://en.wikipedia.org/wiki/Stephen_LaBerge" target="_blank">lucid dreaming</a>), has been around, but is a practice that takes time and discipline. Still, we're no closer to deciphering dreams as we are to understanding the universe. We're setting out to change that.
</div>
<br />
<strong>A photo's worth a thousands words.</strong>
<div>
	What if you could wake up one day and <em>see</em> your dream? The images of dreams are reflections of your waking life and <a href="http://en.wikipedia.org/wiki/Jungian_archetypes" target="_blank">symbols</a> engrained within you. Dreamwire lets you capture the images and reflect on them in your journal of dreams. Think of it as taking a picture to save a memorable moment. This is only the begining.
</div>
<br />
<strong>The impossible is possible.</strong>
<div>
	It's no mystery that some of the greatest <a href="http://www.nndb.com/people/934/000100634/" target="_blank">scientific</a>, <a href="http://en.wikipedia.org/wiki/Yesterday" target="_blank">musical</a> and <a href="http://blog.dreamwire.co/day/2013/01/28" target="_blank">artistic</a> discoveries came from dreams (<a href="http://news.bbc.co.uk/2/hi/uk_news/magazine/8092029.stm" target="_blank">the list goes on</a>). These are the kinds of gems that dreamwire will help you find and hold on to. 
</div>
<br />
<div>
	 We're pretty new at this and just as curious as you. We don't have all the answers, but we know they're there, in our dreams, waiting to be uncovered.
</div>
<br />
<p>
	Have inspiring dreams tonight,
</p>
<p class="button"> 
	<a href="http://www.dreamwire.co/dreams/new/" target="_blank"></a> Record a dream
</p>
<br />
<p>
	P.S. Reach out if you have a cool dream or story to share (support@dreamwire.co).
</p>
<br />
<a href="http://www.dreamwire.co" target="_blank">
	<img src='http://s3.amazonaws.com/DW-Assets/minilogo.png' alt='http://www.dreamwire.co' width="40px" height="40px">
</a>