<p><%= @user.name %>,</p>

<p>Thanks for joining!</p>
<p>
	A great dream can inspire you and reveal parts of yourself previously unknown. Like any mind or health practice, dream exploration takes discipline and training.
</p>

<p><em>Dreamwire is all about making it easier:</em></p>

<h4>Mobile is there when you wake up</h4>
<div>
	With our new mobile interface, you can quickly record a dream (from your iPhone, iPod, iPad, or Android device) without leaving your bed.
</div>

<h4>An image speaks a thousand words</h4>
<div>
	Beautiful artwork and photographs can stir emotions and help you remember a dream.  Dreamwire makes it simple to match your dream to a symbolic image.
</div>

<h4>The possibilities are in your dreams</h4>
<div>
	We want to make your dreaming experience even better, so reach out to us (support@dreamwire.co) if you have anything to share.
</div>
<br />
<p>
	Truly,<br />
	Dreamwire team
</p>
<p>
	<a href="http://www.dreamwire.co">
		<img src='http://s3.amazonaws.com/DW-Assets/logo-dreamwire-mailer.png' alt='http://www.dreamwire.co'>
	</a>
</p>

<small>
	<p>Copyright © 2013 Dreamwire, All rights reserved.</p>
	<p>
		<strong>Our mailing address is:</strong><br />
		Dreamwire (Omar Hijaz)<br />
		1200 S. Arlington Ridge Road<br />
		Arlington, VA 22202<br />
	</p>
</small>