<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	body {
	   font-family: Open Sans;
	   font-size: 12px;
	   max-width: 600px;
	   display: block;
	}
	.button {
		background-color: #378EEF;
		padding: 4px;
		border-radius: 4px;
		width: 120px;
		text-align: center;
		cursor: pointer;
	}
	.font-white {
		color: #fff;
		text-decoration: none;
		font-size: 14px;
	}
</style>
<p>Hi<!-- <%#= @user.name.split[0] %> -->,</p>
<p>
	Somehow through all the noise, you discovered dreamwire. Let's start tapping the unconscious...
</p>
<strong>Dreams are a new science.</strong>
<div>
	 About a third of life is spent asleep and dreaming. That's a big chunk, but it's not <em>all</em> <a href="https://medium.com/better-humans/dfb12da75a3d">wasted</a>. Dream exploration (including <a href="http://en.wikipedia.org/wiki/Stephen_LaBerge" target="_blank">lucid dreaming</a>), has been around, but is a practice that takes time and discipline. Still, we're no closer to deciphering dreams then we are to understanding the universe. Let's set out to change that.
</div>
<br />
<strong>A photo's worth a thousands words.</strong>
<div>
	What if you could wake up one day and <em>see</em> your dream...? The images of dreams are reflections of your waking life plus <a href="http://en.wikipedia.org/wiki/Jungian_archetypes" target="_blank">symbols</a> engrained within you. Dreamwire lets you discover these images and reflect on them in your journal of dreams. Think of it as taking a picture to save a memorable moment, yet the camera is in your dream. This is only the beginning.
</div>
<br />
<strong>The impossible is possible.</strong>
<div>
	It's no mystery that some of the biggest <a href="http://dreamtraining.blogspot.com/2010/12/inventions-that-came-in-dreams-largest.html" target="_blank">scientific, musical, and artistic</a> breakthroughs came in the form of a dream. These are the kinds of gems that dreamwire will help you find and hold on to. 
</div>
<br />
<div>
	 Like you, we're fairly new at this and just as curious. We don't have all the answers, but we know they're there, in our dreams, waiting to be uncovered.
</div>
<br />
<p>
	For the inspiring ones,
</p>
<p class="button"> 
	<a href="http://www.dreamwire.co/dreams/new/" target="_blank" class="font-white">Capture a dream</a>
</p>
<br />
<p>
	P.S. Reach out if you have a cool dream or story to share (support@dreamwire.co).
</p>
<br />
<a href="http://www.dreamwire.co" target="_blank">
	<img src='http://s3.amazonaws.com/DW-Assets/minilogo.png' alt='http://www.dreamwire.co/' width="40px" height="40px">
</a>