<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	body {
	   font-family: Open Sans;
	   font-size: 12px;
	} 
</style>
<p>Hi <%= @user.name.split[0] %>,</p>
<p>
	If you're curious about dreams, you discovered the right place. We're also curious...
</p>
<p>
	 A quarter of our life is spent asleep and dreaming. So why are we so out of touch with our dreams? 
	 Dream discovery is not easy. Like any health or mind practice, it takes time and discipline.
</p>

<h3>Dreamwire makes it easier:</h3>

<strong>An image speaks volumes</strong>
<div>
	See your dreams. Beautiful artwork and photographs stir emotions and help you recall a dream.  Dreamwire let's you match your dream to a symbolic image.
</div>
<br />
<strong>Possibilities in your dreams</strong>
<div>
	Every once in a while, you have a life changing dream. These are the gems that you should hold on to. 
</div>
<br />
<strong>Mobile, there when you wake up</strong>
<div>
	With a mobile interface, it's simple to record a dream (from your iPhone, iPod, iPad, or Android), without leaving your bed.
</div>

<br />
<p>
	Sweet dreams,<br><br>
	dreamwire team
</p>
<a href="http://www.dreamwire.co">
	<img src='http://s3.amazonaws.com/DW-Assets/minilogo.png' alt='http://www.dreamwire.co' width="40px" height="40px">
</a>
<p>
	PS. We want your dreaming experience to be unforgettable. Reach out to us (support@dreamwire.co) if you have something to share.
</p>
<small>
	<p>Copyright © 2013 Dreamwire, All rights reserved.</p>
</small>