<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	body {
	   font-family: Open Sans;
	   font-size: 12px;
	   max-width: 600px;
	   display: block;
	   background-color: #fff;
	}
	.button {
		background-color: #378EEF;
		padding: 8px;
		border-radius: 4px;
		width: 120px;
		text-align: center;
		cursor: pointer;
	}
	.font-white {
		color: #fff;
		text-decoration: none;
		font-size: 14px;
	}
	a {
		text-decoration: none;
		color: #378EEF;
	}
</style>
<p>Hi<!-- <%#= @user.name.split[0] %> -->,</p>
<p>
	Through the noise and confusion, you discovered dreamwire. Let's begin tapping the unconscious...
</p>
<strong>Dreams are a new science.</strong>
<div>
	 About a third of life is spent asleep and dreaming. That's a big slice, but it's not <em>all</em> <a href="https://medium.com/better-humans/dfb12da75a3d" target="_blank">wasted</a>. Progress has been made in sleep research including <a href="http://en.wikipedia.org/wiki/Stephen_LaBerge" target="_blank">lucid dreaming</a> and <a href="https://medium.com/the-healthy-life/b65f8e19ed18" target="_blank">sleep recovery</a>. Still, we're no closer to deciphering dreams than we are to understanding our vast universe. Let's set out to change that.
</div>
<br />
<strong>A photo's worth a thousands words.</strong>
<div>
	Sometimes words are not enough. Images in dreams reflect impressions of your waking life plus <a href="http://en.wikipedia.org/wiki/Jungian_archetypes" target="_blank">symbols</a> engrained within you. Dreamwire lets you capture these images and reflect them into your journal of dreams. Think of it as taking a picture to save a memorable moment in your life. Although technology hasn't advanced enough to give you a camera in your dream, this is just the beginning.
</div>
<br />
<strong>The impossible is possible.</strong>
<div>
	It's no secret that some of the biggest <a href="http://dreamtraining.blogspot.com/2010/12/inventions-that-came-in-dreams-largest.html" target="_blank">scientific, musical,</a> and <a href="http://blog.dreamwire.co/post/41705965123/ice-cream-branding-in-the-flavor-of-dreams" target="_blank">artistic</a> breakthroughs came in the form of a dream. These are the kinds of gems that dreamwire aims to help you discover and hold on to.
</div>
<br />
<div>
	 Like you, we're fairly new at this and just as curious. We don't have all the answers, but we know they're there, in our dreams, waiting to be uncovered.
</div>
<br />
<p>
	For the inspiring ones,
</p>
<p class="button"> 
	<a href="http://www.dreamwire.co/dreams/new/" target="_blank" class="font-white">Capture a dream</a>
</p>
<br />
<p>
	P.S. Reach out if you have a cool dream or story to share (support@dreamwire.co).
</p>
<br />
<a href="http://www.dreamwire.co" target="_blank">
	<img src='http://s3.amazonaws.com/DW-Assets/minilogo.png' alt='http://www.dreamwire.co/' width="40px" height="40px">
</a>