<% provide(:title, 'dreamwire - wake up, and discover your dreams') %>
<div class="background-image">
	<a href="http://www.dreamwire.co"><img src='http://s3.amazonaws.com/DW-Assets/landing-logo-blue.png' alt='dreamwire' class="logosize"></a>
	<p class="color-blue">wake up, and discover your dreams</p>
	<img src="http://s3.amazonaws.com/DW-Assets/p-group.png" alt="p-group">
	<p class="margin-top">
		<i>It's 3 a.m. and you just woke up from <br />this incredible dream...</i>
	</p>
	<div class="margin-top">
		<iframe src="http://player.vimeo.com/video/67280102?title=0&amp;byline=0&amp;portrait=0&amp;
		             color=ff9933" width="298" height="168" frameborder="0" webkitAllowFullScreen 
		             mozallowfullscreen allowFullScreen>
		</iframe>
		<div class="fontsmall">
			music by College & Electric Youth, photos from 500px.com
		</div>
		<p class="margin-top fontmid">
			Capture your most memorable dreams <br />-in words and images- <br />and turn them into life memories.
		</p>
	</div>
	
	<%#= render 'layouts/mailchimp' %>
	
	<div class="margin-top">
		<%= link_to 'Start Dreaming', signup_bxb848_path, class: 'buttonborder' %>  -or-  
		<%= link_to 'Sign In', signin_path, class: "buttonborder" %>
	</div>
	<div class="border-line margin-top"></div>
	<div class="margin-top-bottom color-orange">
		<small>
			Questions - comments? <br /> Send a wire to 
			<%= link_to('@dreamwireco', 'http://twitter.com/dreamwireco', :target => '_blank') %> 
					or <%= link_to('email us', 'mailto:support@dreamwire.co') %> <br />
			<small>
				Photographs courtesy <a href="http://500px.com" target="_blank">500px</a>
			</small>	
		</small>
	</div>
</div>