<% provide(:title, 'dreamwire - wake up, and discover your dreams') %>
<div class="background-image">
	<a href="http://www.dreamwire.co">
		<img src='http://s3.amazonaws.com/DW-Assets/landing-logo-blue.png' alt='dreamwire' class="logosize">
	</a>
	<p class="color-blue logosubtext">wake up, and discover your dreams</p>
	<div class="margin-top">
			<div id="media-small">
				<iframe src="http://player.vimeo.com/video/81477695?title=0&amp;byline=0&amp;portrait=0&amp;
				             color=ff9933" width="298" height="168" frameborder="0" webkitAllowFullScreen 
				             mozallowfullscreen allowFullScreen class="element-to-stretch">
				</iframe>
			</div>
			<div id="media-large">
				<iframe src="http://player.vimeo.com/video/81477695?title=0&amp;byline=0&amp;portrait=0&amp;
				             color=ff9933" width="600" height="338" frameborder="0" webkitAllowFullScreen 
				             mozallowfullscreen allowFullScreen class="element-to-stretch">
				</iframe>
			</div>		
		<div class="font-small">
			photographs from <a href="http://500px.com" target="_blank">500px</a>, 
			music by <a href="https://itunes.apple.com/us/album/a-real-hero/id515382484?i=515382567&uo=4" target="itunes_store">
			College & Electric Youth</a>
		</div>
		<p class="margin-top fontmid color-orange">
			Capture your most memorable dreams <div class="herotext color-orange">-in words and images-</div>
			<div class="color-orange">and turn them into life memories.</div>
		</p>
	</div>
	<div class="margin-top">
		<%= link_to 'Start Dreaming', signup_path, class: 'buttonborder' %>
		<%= link_to 'Log in', signin_path, class: "buttonborder" %>
	</div>
	<div class="border-line margin-top"></div>
	<div class="margin-top-bottom color-orange">
		<small>
			<br /> 
			<%#= link_to('@dreamwireco', 'http://twitter.com/dreamwireco', :target => '_blank') %> 
				<%= link_to 'Terms and Privacy ', privacy_path %> -
				<%= link_to(' Contact Us', 'mailto:support@dreamwire.co') %>
		</small>
	</div>
</div>
<a href="https://plus.google.com/115995939718931727253" rel="publisher" style="display: none;">Google+</a>
<script>
(function(g,i,a,n,t,s){g['SeeYourVisitors']=n;g[n]=g[n]||function(){
(g[n].q=g[n].q||[]).push(arguments)},g[n].l=1*new Date();t=i.createElement(a),
s=i.getElementsByTagName(a)[0];t.async=1;t.src='//seeyourvisitors2.appspot.com/gg.js';
s.parentNode.insertBefore(t,s)})(window,document,'script','gg');
gg('create', 'adcb4df0-23f8-4e2c-b9e4-173f97af93f0');
gg('track');
</script>