<h2 class="borderbottom color-orange">Dreamwire Privacy</h2>   
<div class="menuprofile margin-bottom">
  <p class="margin-top">
    When you save a dream on Dreamwire, you are given the option to make it private or public. By default, the dream will save as a private. Private dreams are accessible to only you, when signed into your account. A public dream may be shared with others and may be viewable by other dreamwire members on dreamwire's live feed page (LiveWire).  
  </p>
  <p class="margin-top">
    All of your dreams (public and private) are stored on your home page, which only you have access to by signing in with your username (or email) and password.
  </p>
  <p class="margin-top">
    We understand that dreams are a personal experience, and some dreams are meant to remain completely private.  Our main goal is to keep your dreams secure and our systems up to date with the latest technology.
  </p>
   <small>
    &mdash; Dreamwire Team
  </small>
</div>