<% provide(:title, 'Capture Dream') %>
<%= link_to 'Dreamwire', root_path %> | 

<div class="row margin-top">
	<div class="span4">
		<%= form_for(@post) do |f| %>
			<div class="field">
				<%= f.text_area :content, placeholder: "Narrate your dream..." %>
			</div>
			<%= f.submit "Save", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>