<% provide(:title, 'LiveWire') %>
<%= link_to 'Dreamwire', root_path %> | 
<%= link_to 'Settings', edit_user_path(current_user) %> |
<%= link_to "Sign Out", signout_path, method: "delete" %>
<div class="row">
	<div class="span8">
		<h3>LiveWire</h3>
		<% if @feed_items.any? %>
			<ol> <%= render partial: 'shared/feed_item', collection: @feed_items %> </ol>
		<% end %>
	</div>
</div>