/*$bodyBackground: #02060D;
$textColor: white;
$baseFontFamily: Open+Sans, Helvetica;
$orange: #FBA617;
$blue: #3890E9;
$gray: #D4D4D4;
$silver: #323E48;
$btnPrimaryBackground: #3890E9;*/
/*@import 'bootstrap';
@import 'bootstrap-responsive';*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* universal */
html {
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
}
body {
  background-color: #02060D;
  margin-left: auto; 
	margin-right: auto;
	text-align: center;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0.1em 0 0.02em 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
p {
	font-size: 1.1em; 
	line-height: 1.2em;
	margin: 0.4em 0;
}
li { 
	list-style-type: none; 
}

/*Adjust input placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #aaa;
  /*font-size: 18px;*/
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #aaa;
  /*font-size: 18px;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #aaa;
  /*font-size: 18px;*/
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #aaa;
  /*font-size: 18px;*/
}

/*jquery override*/
.ui-mobile .ui-page {
	margin: 0 0 0 0px;
	padding: 0;
}
.ui-body-c, .ui-overlay-c {
	background: #02060D;
	color: #ccc;
	text-shadow: none;
	font-family: 'Open Sans', sans-serif;
}
.ui-popup-container {
	background-color: rgba(2, 6, 13, 0.85);
	top: 0;
	width: 80%;
	max-width: 400px;
	border: 1px dotted #3890E9;
}
.ui-input-search, div.ui-input-text {
	display: inline-block;
}
.ui-bar-a {
  background: none;
  /*border: none;*/
  color: #FFFFFF;
  margin: 0 14px;
}
.ui-btn-left, .ui-btn-right, .ui-btn-inline {
	float: right;
}
.ui-btn-inner {
	padding: 0.6em 8px;
	border-top: none;
}
.ui-controlgroup-horizontal.ui-mini .ui-btn-inner {
	height: 80px;
}
textarea.ui-input-text {
	height: 148px;
	margin: 0 auto;
	transition: height 200ms linear 0s;
	width: 270px;
}
.ui-body-c, .ui-overlay-c {
	border: none;
}
div.ui-input-text {
	padding: 0 0.4em;
}
.ui-shadow-inset {
	box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2) inset;
}
.ui-btn-up-c {
	background: rgba(2, 6, 13, 0.1);
	border: 1px dotted #3890E9;
  color: #3890E9;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-shadow: none;
  height: 36px;
}
.ui-btn-hover-c { 
	height: 36px;
}
.ui-btn-corner-all {
	border-radius: 4px;
}
.ui-corner-all {
	border-radius: 4px;
}
.ui-btn-inner {
	padding: 4px;
}
.ui-btn-hover-c {
	background: none;
	border: 1px dotted #3890E9;
  color: #CCC;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-shadow: none;
}
.ui-btn-active {
	background: #3890E9;
}
.ui-field-contain .ui-controlgroup-controls {
	display: table-row-group;
}

/*fixes*/
:focus{
	outline:0; /*removes the dotted border*/
}
.no-space [class*='span'] {
    margin-left: 4px;
}
.alignleft {
	text-align: left;
}
.color-blue {
	color: #3890E9;
}
.color-orange {
	color: #FBA617;
}
.color-gray { 
	color: #aaa;
}
.font-large {
	font-size: 1.7em;
	line-height: 1.2em;
}
.fontmid {
	font-size: 1.09em;
}
.buttonborder {
	border: 1px dotted #3890E9;
	padding: 4px;
	border-radius: 4px;
}
.navbuttonborder {
	border: none;
	border-radius: 4px;
	color: #3890E9;
}
.closebuttonborder {
	border: 2px solid #3890E9;
	border-radius: 18px;
	color: #3890E9;
}
.font-hero {
	font-size: 24px;
  line-height: 1.7em;
  margin-top: 1.7em;
}
.fontsmall {
	font-size: 8px;
}
.margin-top-bottom {
	margin-top: 2.1em;
	margin-bottom: 2.1em;
}
.margin-top {
	margin-top: 1.3em;
}
.margin-bottom {
	margin-bottom: 1em;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.clearfix {
	clear: both;
}
.center {
	float: none; 
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}

/*navbar*/
.logonav {
	width: 140px;
}
.headerbar {
	border: medium none; 
	border-bottom: 1px solid #323E48;
	margin: 4px 14px;
  padding-top: 6px;
}
/*Landing Page*/
.background-image {
	background-image: url('http://s3.amazonaws.com/DW-Assets/romancandle.png');
	background-repeat: no-repeat;
	background-position: center 20%;
	min-height: 570px;
}
.logosize {
	width: 90%;
	max-width: 600px;
}
.landing-button {
	height: 50px;
  font-size: 18px;
}
.landing-image {
	box-shadow: 0 3px 3px #071529;
	moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.pics-row {
	min-height: 180px;
}
.pic-adjust {
	width: 180px;
}

/*menu*/
.menublock {
	margin: 8% 0;
}
.menuprofile {
	margin: 12px; 
	text-align: left;
}
.menupic {
	margin: 12px; 
	text-align: left; 
	width: 42px;
}
.borderbottom {
	border-bottom: 1px dotted #FBA617;
}
.iconsize {
	width: 50px;
}

/*dream feed block*/
.dreamblock {
	display: block;
	border-bottom: 1px dotted #FBA617;
  height: 280px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
.avatar-position {
	position: absolute;
  right: 20px;
  padding: 4px;
}
.thumbsize {
	width: 60px;
	height: 60px;
	border: 1px solid;
}
.titlebar {
	background-color: rgba(2, 6, 13, 0.7);
  bottom: 127px;
  height: 112px;
  overflow: hidden;
  padding: 4px 4px 6px;
  position: relative;
  text-align: left;
  width: 272px;
}
.dots a {
	bottom: 12px;
  font-family: Georgia;
  font-size: 32px;
  position: relative;
  right: 4px;
  text-decoration: none;
}

/*dreamview block*/
.dreamview {
	text-align: left;
	width: 272px;
	margin-right: auto;
	margin-left: auto;
}
.aligndetails {
	text-align: left;
	margin-left: 20px;
}

/*dream details*/
 .detailblock {
 	float: left;
 	height: 80px;
 	font-size: 11px;
 	text-align: center;
 	margin-right: 10px;
 }


/*sign up*/
.labelright {
	float: right;
  margin-right: 20px;
  margin-top: 20px;
  position: relative;	
  color: #FBA617;
}
.selectavatar {
	background-color: #02060D;
  border: 1px dotted #3890E9;
  bottom: 50px;
  cursor: pointer;
  display: block;
  height: 86px;
  margin-left: 0.4em;
  margin-top: 18px;
  position: relative;
  text-align: center;
  width: 86px;
}
.selectavatarvert {
	color: #AAAAAA;
  padding: 20px;
  width: 40px;
}
.alignsignup {
	text-align: left;
	margin-left: 20px;
	height: 550px;
}
.privacytext {
	width: 150px;
}

/*Settings*/
.changeavatarvert {
	padding: 12px;
}
.changeavatar {
	background-color: #02060D;
  border: 1px dotted #3890E9;
  cursor: pointer;
  display: block;
  height: 86px;
  margin-left: 0.4em;
  margin-top: 24px;
  position: absolute;
  text-align: center;
  top: 33px;
  width: 86px;
}

/*Forms*/
/*.field_with_errors {
	@extend .control-group;
	@extend .error;
}*/
.forgotpw {
	display: block;
  margin: 0 auto;
  text-align: left;
  width: 270px;
}

/*Dream Form*/
#selectable { 
	margin: 0 auto 0 10px;
  padding: 0; 
}
#selectable li { 
	border: 2px solid #3890E9;
  float: left;
  font-size: 4em;
  height: 140px;
  margin: 2px;
  padding: 1px;
  width: 140px;
}
#selectable li:hover {
	border: 2px solid #FBA617;
}
#selectable .selected { 
	border: 2px solid #FBA617; 
	color: white; 
}
.loadMore {
	cursor: pointer;
  float: right;
  margin: 20px;
}
.loadLess {
	cursor: pointer;
  float: left;
  margin: 20px;
}
.recordmargin {
	max-width: 270px; 
	margin: 0 auto;
}

/*dream recorder*/
.dreamrecord {
	border: 1px solid #FBA617;
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  margin: 10px auto 4px;
  width: 280px;
}
.thumbbox {
	float: right;
}
#thumb_show {
  margin-left: 20px;
}
.searchblock {
	margin: 0 auto;
  padding: 7px 0;
  text-align: right;
  width: 280px;
}
.searchbox {
  border: 1px solid #3890E9;
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  float: left;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 8px;
  text-align: left;
  width: 166px;
}
.magnify {
	vertical-align: middle;
  width: 18px;
}
.slider {
	border-bottom: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  margin: 0 auto;
  padding: 7px 0;
  text-align: right;
  width: 280px;
  clear: both;
}
.privtext {
	float: left;
  margin-top: 10px;
  text-align: left;
  width: 134px;
}
.footerpadding {
	padding-bottom: 18px;
	margin-top: 32px;
}
.searchtext {
	color: #FBA617;
  font-size: 14px;
  margin: 10px auto 2px;
  text-align: left;
  width: 280px;
}

/*first timers*/
.introcopy {
	@extend .color-gray;
	margin: 20px auto;
  width: 302px;
  font-size: 14px;
}
.Zposition {
  width: 170px;
}

/*images*/
.imagecrop {
  width: 280px;
  height: 280px;
  overflow: hidden;
  max-width: 320px;
}